{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
{% block alerts %}
{% for type, messages in app.session.flashBag.all %}
  {% for message in messages %}
      {%if type == 'error'%} {% set type = 'danger' %} {%endif%}
      {%if type == 'message'%} {% set type = 'info' %} {%endif%}
      {# Bootstrap alert, see http://getbootstrap.com/components/#alerts #}
      <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
          </button>
          <p>{{ message|raw }}</p>
      </div>
  {% endfor %}
{% endfor %}
{% endblock %} 
    <h1>User index</h1>     

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                
                <th>Firstname</th>
                <th>Lastname</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
        
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_register') }}">Create new</a>
{% endblock %}
